<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="dbstr" value="server=13.78.60.178;uid=root;pwd=rsl9154;Allow User Variables=True;allow zero datetime=true" />
    <add key="dbname" value="lav_test" />
    <add key="posid" value="999999" />
    <add key="uniform" value="25019060" />
    <add key="ACNT_NO" value="25019060" />
    <add key="FUNC_SIGNATURE" value="0521C94794584804B2FA22D6A0EC5D6E" />
    <add key="apiurl" value="http://localhost:7976/url_prefix/CreateARInvoice" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>